
<div class="title-content">
  <h1 class="d-inline">
    <strong class="text-muted">#1</strong>
    <strong>
      {{ 'Module name'|trans({}, 'Modules.Extmodulename.Admin') }}
    </strong>
  </h1>

  <span
    class="badge rounded badge-dark ml-2 mr-2 font-size-100"
  >{{ 'In progress'|trans({}, 'Modules.Extmodulename.Admin') }}</span>
</div>
